@{
    ViewData["Title"] = "Destra";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div role="main" class="main" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <section class="page-header page-header-modern page-header-md" style="color: #0B2430">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="text-white">LinkWise <strong>Admin</strong></h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-end">
                        <li><a href="~/home/index" style="color:#FFFFFF">Home</a></li>
                        <li class="active" style="color:#EEEEEE">Admin</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container container-xl-custom" style="font-family: segoi 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <div class="row">
            <div class="col-md-12 pt-5">
                <h2 class="font-weight-bold text-10 line-height-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500"><span class="text-5">Posts</span></h2>
                <h4 class="text-6 line-height-6 font-weight-normal appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800"><span class="opacity-6">Lista de posts sdcsfsada plataforma Linkwise.</span></h4>

                <table class="table table-hover" id="tbPosts"></table>
            </div>
        </div>
    </div>

    <div class="modal fade show" id="postModal" tabindex="-1" aria-labelledby="largeModalLabel" style="padding-right: 15px;" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editando Post IDPost: <span id="IDPost"></span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="form-label mb-1 text-2">Âncora</label>
                            <input type="text" value="" data-msg-required="" class="form-control text-3 h-auto py-2" id="DSAncoraPost" required="">
                        </div>
                        <div class="form-group col-lg-3">
                            <label class="form-label mb-1 text-2">Criado em</label>
                            <input type="text" value="" data-msg-required="" class="form-control text-3 h-auto py-2" id="DTCriacaoPost" required="">
                        </div>
                        <div class="form-group col-lg-3">
                            <label class="form-label mb-1 text-2">Publicado em</label>
                            <input type="text" value="" data-msg-required="" class="form-control text-3 h-auto py-2" id="DTPublicacaoPost" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label class="form-label mb-1 text-2">Título do Post</label>
                            <input type="text" value="" data-msg-required="Please enter your name." class="form-control text-3 h-auto py-2" id="DSTituloPost" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label class="form-label mb-1 text-2">Subtítulo do Post</label>
                            <textarea type="text" rows="3" data-msg-required="Please enter your name." class="form-control text-3 h-auto py-2" id="DSSubTituloPost" required=""></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label class="form-label mb-1 text-2">Tags</label>
                            <input type="text" value="" data-msg-required="" class="form-control text-3 h-auto py-2" id="DSTags" required="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="form-label mb-1 text-2">Acesso Restrito</label><br />
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="acessoRestrito" id="acessoRestritoSim" value="1">
                                <label class="form-check-label" for="acessoRestritoSim">Sim</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="acessoRestrito" id="acessoRestritoNao" value="0">
                                <label class="form-check-label" for="acessoRestritoNao">Não</label>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="form-label mb-1 text-2">Ativo</label><br />
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ativo" id="ativoSim" value="1">
                                <label class="form-check-label" for="ativoSim">Sim</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ativo" id="ativoNao" value="0">
                                <label class="form-check-label" for="ativoNao">Não</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnSalvarDados">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade show" id="postImagesModal" tabindex="-1" aria-labelledby="largeModalLabel" style="padding-right: 15px;" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">#<span id="lblIDPostImages"></span> - <span id="lblDSTituloPostImages"></span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="accordion accordion-lg" id="accordionPostImages">
                        <div class="card card-default">
                            <div class="card-header">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordionPostImages" href="#collapseListImages" aria-expanded="true">
                                        Lista imagens do post. Total: <span id="lblCountImages"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseListImages" class="collapse show" style="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="divImages" style="max-height: 200px; overflow-y: auto;padding-right: 10px; overflow-x: hidden;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-default">
                            <div class="card-header">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordionPostImages" href="#collapseAddImage" aria-expanded="true">
                                        <span id="lblAccordionPostImages">Adicione uma imagem</span> #<span id="IDMidia"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseAddImage" class="collapse" style="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label class="form-label mb-1 text-2">Título</label>
                                            <input type="text" value="" data-msg-required="" class="form-control form-control-sm text-3 h-auto py-2" id="NMTitulo" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label class="form-label mb-1 text-2">Legenda</label>
                                            <input type="text" value="" data-msg-required="" class="form-control form-control-sm text-3 h-auto py-2" id="DSLegenda" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label class="form-label mb-1 text-2">Embedded</label>
                                            <input type="text" value="" data-msg-required="" class="form-control form-control-sm text-3 h-auto py-2" id="CDEmbedded" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label class="form-label mb-1 text-2">Selecione uma imagem</label>
                                            <br /><input type="file" id="inputFileUpload" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12" style="text-align: right">
                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-light" onclick="clearFormImage()">Limpar</button>
                                            <button type="button" class="btn btn-primary" id="btnSalvarImagem" onclick="saveMidia()">Salvar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="modal fade show" id="postTextoModal" tabindex="-1" aria-labelledby="largeModalLabel" style="padding-right: 15px;" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editando texto do post. IDPost: <span id="lblIDPostTexto"></span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label class="form-label mb-1 text-2">Título</label>
                            <h4 class="modal-title"><span id="lblDSTituloPostTexto"></span></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label class="form-label mb-1 text-2">Título do Post</label>
                            <textarea type="text" rows="10" data-msg-required="Please enter your name." class="form-control text-3 h-auto py-2" id="DSTextoPost" required=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnSalvarTexto">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-5">

    <input type="hidden" id="IDBlog" value="@ViewBag.IDBlog" />

</div>




<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/jquery/jquery.slim.min.js"></script>
<script src="~/vendor/datatables/datatables.min.js"></script>

<script src="~/js/custom/admin-Posts.js?=0.8"></script>