@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div role="main" class="main">


    <div class="container pt-3 pb-2">

        <div class="row pt-2">
            <div class="col-lg-12">

                <div class="row mb-5 pb-3">

                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <h4 class="mb-4">Image Top</h4>

                        <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                            <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image" style="cursor:pointer" onclick="alert('Image')">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold" style="cursor:pointer" onclick="alert('title')">Card Title</h4>
                                <p class="card-text mb-2 pb-1" style="cursor:pointer" onclick="alert('Text')">Lorem ipsum dolor sit amet, consectetur adipiscing onsectetur adipiscing elit elit onsectetur adipiscing lit onsectetur adipiscing elit.</p>
                                <p style="font-size:10px;color:#777">
                                    <span style="margin-right:7px"><i class="far fa-thumbs-up" style="cursor:pointer" onclick="alert('Up')"></i> 12</span>
                                    <span style="margin-right:7px"><i class="far fa-thumbs-down" style="cursor:pointer" onclick="alert('down')"></i> 15 </span>
                                    <span><i class="far fa-eye"></i> 12 </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms; cursor:pointer">
                        <h4 class="mb-4">Image Top</h4>

                        <div class="card">
                            <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text mb-2 pb-1">Lorem ipsum dolor sit amet, consectetur adipiscing onsectetur adipiscing elit elit onsectetur adipiscing lit onsectetur adipiscing elit.</p>
                                <a href="/" class="read-more text-color-primary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms; cursor:pointer">
                        <h4 class="mb-4">Image Top</h4>

                        <div class="card">
                            <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text mb-2 pb-1">Lorem ipsum dolor sit amet, consectetur adipiscing onsectetur adipiscing elit elit onsectetur adipiscing lit onsectetur adipiscing elit.</p>
                                <a href="/" class="read-more text-color-primary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms; cursor:pointer">
                        <h4 class="mb-4">Image Top</h4>

                        <div class="card">
                            <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text mb-2 pb-1">Lorem ipsum dolor sit amet, consectetur adipiscing onsectetur adipiscing elit elit onsectetur adipiscing lit onsectetur adipiscing elit.</p>
                                <a href="/" class="read-more text-color-primary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mb-5 pb-3">

                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <h4 class="mb-4">Image Top</h4>

                        <div class="card">
                            <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text mb-2 pb-1">Lorem ipsum dolor sit amet, consectetur adipiscing onsectetur adipiscing elit elit onsectetur adipiscing lit onsectetur adipiscing elit.</p>
                                <a href="/" class="read-more text-color-primary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-8 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <h4 class="mb-4">Image Horizontal</h4>

                        <div class="card">
                            <div class="row g-0">
                                <div class="col-lg-4">
                                    <img src="~/img/blog/medium/blog-1.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-lg-8">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
                                        <p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi </p>
                                        <a href="/" class="read-more text-color-primary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="row g-0">
                                <div class="col-lg-4">
                                    <img src="~/img/blog/medium/blog-1.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-lg-8">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
                                        <p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi </p>
                                        <a href="/" class="read-more text-color-primary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-5 pb-3">

                    <div class="col-md-4 col-lg-3 border-radius-10 bg-color-grey bg-color-primary" style="cursor:pointer" onclick=" alert('hell world')">
                        <article class="post post-medium border-0 pb-0 mb-5 ">
                            <div class="post-image">
                                <a href="blog-post.html">
                                    <img src="~/img/blog/medium/blog-1.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="">
                                </a>
                            </div>

                            <div class="post-content">
                                <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold text-secondary">Amazing Mountain</h4>

                                <div class="post-meta">
                                    <span><i class="far fa-thumbs-up" style="color:#aaa"></i> </span>
                                    <span><i class="far fa-thumbs-down" style="color:#aaa"></i> </span>
                                </div>

                            </div>
                        </article>
                    </div>

                    <div class="col-lg-4 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
                        <div class="card border-0 border-radius-10 bg-color-grey bg-color-primary">
                            <div class="card-body">
                                <i class="icon-user-following icons text-color-primary text-8"></i>
                                <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi.</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                        <div class="card border-0 border-radius-10 bg-color-grey bg-color-primary">
                            <div class="card-body">
                                <i class="icon-user-following icons text-color-primary text-8"></i>
                                <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi.</p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row mb-5 pb-3">

                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <h4 class="mb-4">Image Top</h4>

                        <div class="card">
                            <img class="card-img-top" src="~/img/blog/wide/blog-11.jpg" alt="Card Image">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text mb-2 pb-1">Lorem ipsum dolor sit amet, consectetur adipiscing onsectetur adipiscing elit elit onsectetur adipiscing lit onsectetur adipiscing elit.</p>
                                <a href="/" class="read-more text-color-primary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-8 mb-5 mb-lg-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <h4 class="mb-4">Image Horizontal</h4>

                        <div class="card">
                            <div class="row g-0">
                                <div class="col-lg-4">
                                    <img src="~/img/blog/medium/blog-1.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-lg-8">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
                                        <p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi </p>
                                        <a href="/" class="read-more text-color-primary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="row g-0">
                                <div class="col-lg-4">
                                    <img src="~/img/blog/medium/blog-1.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-lg-8">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
                                        <p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus nulla dui, in dapi </p>
                                        <a href="/" class="read-more text-color-primary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

