@{
    ViewData["Title"] = "Jornada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main">

    <div class="container container-xl-custom">
        <div class="row">
            <div class="col-lg-6 pt-5">
                <h2 class="font-weight-bold text-10 line-height-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500"><span class="text-5">Canivete Suíço</span></h2>
                <h4 class="text-6 line-height-6 font-weight-normal appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800"><span class="opacity-6">Conjunto de links úteis e ferramentas que facilitam a vida do profissional de TI.</span></h4>
            </div>
        </div>
    </div>

    <hr class="my-5">

    <div class="container container-xl-custom" style="height: 700px">
        <div class="row">
            <div class="col">

                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">

                    <ul class="nav nav-pills sort-source sort-source-style-3" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'packery', 'filter': '*'}">
                        <li class="nav-item active" data-option-value="*"><a class="nav-link text-2-5 text-uppercase active" href="#">Show All</a></li>
                        <li class="nav-item" data-option-value=".content"><a class="nav-link text-2-5 text-uppercase" href="#">Content</a></li>
                        <li class="nav-item" data-option-value=".icons"><a class="nav-link text-2-5 text-uppercase" href="#">Icons</a></li>
                        <li class="nav-item" data-option-value=".images"><a class="nav-link text-2-5 text-uppercase" href="#">Images</a></li>
                        <li class="nav-item" data-option-value=".dev-plugin"><a class="nav-link text-2-5 text-uppercase" href="#">Plugins</a></li>
                        <li class="nav-item" data-option-value=".templates"><a class="nav-link text-2-5 text-uppercase" href="#">Templates</a></li>
                        <li class="nav-item" data-option-value=".tools"><a class="nav-link text-2-5 text-uppercase" href="#">Tools</a></li>
                        <li class="nav-item" data-option-value=".videos"><a class="nav-link text-2-5 text-uppercase" href="#">Videos</a></li>
                        <li class="nav-item" data-option-value=".compras"><a class="nav-link text-2-5 text-uppercase" href="#">Compras</a></li>
                    </ul>

                    <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                        <div class="row portfolio-list sort-destination" data-sort-id="portfolio">

                            <!-- themeforest -->
                            <div class="col-sm-2 col-lg-1 isotope-item templates">
                                <div class="portfolio-item">
                                    <a href="http://www.themeforest.net" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/envato-themeforest.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- audiojungle -->
                            <div class="col-sm-2 col-lg-1 isotope-item templates">
                                <div class="portfolio-item">
                                    <a href="http://www.audiojungle.net" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="/img/msader_tools/envato-audiojungle.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- codecanyon -->
                            <div class="col-sm-2 col-lg-1 isotope-item templates tools">
                                <div class="portfolio-item">
                                    <a href="http://www.codecanyon.net" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/envato-codecanyon.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- photodune -->
                            <div class="col-sm-2 col-lg-1 isotope-item images">
                                <div class="portfolio-item">
                                    <a href="http://photodune.net/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/envato-photodune.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- graphicriver -->
                            <div class="col-sm-2 col-lg-1 isotope-item templates">
                                <div class="portfolio-item">
                                    <a href="http://graphicriver.net/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/envato-graphicriver.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- videohive -->
                            <div class="col-sm-2 col-lg-1 isotope-item videos">
                                <div class="portfolio-item">
                                    <a href="https://videohive.net/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/envato-videohive.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- istock -->
                            <div class="col-sm-2 col-lg-1 isotope-item images">
                                <div class="portfolio-item">
                                    <a href="http://www.istockphoto.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/istock.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- fourdevs -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://www.4devs.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/fourdevs.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- internic -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://www.internic.net/whois.html" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/internic.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- adobe kuler -->
                            <div class="col-sm-2 col-lg-1 isotope-item images tools">
                                <div class="portfolio-item">
                                    <a href="https://color.adobe.com/pt/create/color-wheel/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/adobe-kuler.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- crackstation -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://crackstation.net/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/crackstation.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- ddig -->
                            <div class="col-sm-2 col-lg-1 isotope-item images tools">
                                <div class="portfolio-item">
                                    <a href="https://dummyimage.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/ddig.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- depositphotos -->
                            <div class="col-sm-2 col-lg-1 isotope-item images tools">
                                <div class="portfolio-item">
                                    <a href="http://br.depositphotos.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/depositphotos.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- azure -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://portal.azure.com" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/azure.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- CambridgeDictionariesOnline -->
                            <div class="col-sm-2 col-lg-1 isotope-item content">
                                <div class="portfolio-item">
                                    <a href="http://dictionary.cambridge.org/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/CambridgeDictionariesOnline.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- conjugacao -->
                            <div class="col-sm-2 col-lg-1 isotope-item content">
                                <div class="portfolio-item">
                                    <a href="https://www.conjugacao.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/conjugacao.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- favicon-generator-2 -->
                            <div class="col-sm-2 col-lg-1 isotope-item icons">
                                <div class="portfolio-item">
                                    <a href="https://www.favicon-generator.org/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/favicon-generator-2.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- feedly -->
                            <div class="col-sm-2 col-lg-1 isotope-item content">
                                <div class="portfolio-item">
                                    <a href="http://www.feedly.com" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/feedly.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- fontawesome -->
                            <div class="col-sm-2 col-lg-1 isotope-item icons">
                                <div class="portfolio-item">
                                    <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/fontawesome.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- fotolia -->
                            <div class="col-sm-2 col-lg-1 isotope-item images">
                                <div class="portfolio-item">
                                    <a href="https://us.fotolia.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/fotolia.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- freeformatter -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://www.freeformatter.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/freeformatter.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- git-hub -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://github.com" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/git-hub.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- googlekeep -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://keep.google.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/googlekeep.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- googlescholar -->
                            <div class="col-sm-2 col-lg-1 isotope-item conttent">
                                <div class="portfolio-item">
                                    <a href="https://scholar.google.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/googlescholar.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- GoogleTraductor -->
                            <div class="col-sm-2 col-lg-1 isotope-item content">
                                <div class="portfolio-item">
                                    <a href="https://translate.google.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/GoogleTraductor.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- icomoon -->
                            <div class="col-sm-2 col-lg-1 isotope-item icons tools">
                                <div class="portfolio-item">
                                    <a href="http://icomoon.io/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/icomoon.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Itau -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://www.itau.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/Itau.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Linguee -->
                            <div class="col-sm-2 col-lg-1 isotope-item content">
                                <div class="portfolio-item">
                                    <a href="https://www.linguee.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/Linguee.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- loading.io_icons -->
                            <div class="col-sm-2 col-lg-1 isotope-item icons tools">
                                <div class="portfolio-item">
                                    <a href="https://loading.io/icon/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/loading.io_icons.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- loading-io -->
                            <div class="col-sm-2 col-lg-1 isotope-item icons tools">
                                <div class="portfolio-item">
                                    <a href="https://loading.io/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/loading-io.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- lorespum -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="http://www.perbang.dk/orcapia.cms?aid=100" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/lorespum.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Marcaria -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="http://www.marcaria.com/ " target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/Marcaria.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- mixkit -->
                            <div class="col-sm-2 col-lg-1 isotope-item videos">
                                <div class="portfolio-item">
                                    <a href="https://mixkit.co/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/mixkit.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- myipaddress -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="http://www.perbang.dk/orcapia.cms?aid=183" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/myipaddress.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- publicdomainpictures -->
                            <div class="col-sm-2 col-lg-1 isotope-item images">
                                <div class="portfolio-item">
                                    <a href="http://www.publicdomainpictures.net/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/publicdomainpictures.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- RegistroBr -->
                            <div class="col-sm-2 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="http://registro.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/RegistroBr.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- reverso -->
                            <div class="col-sm-2 col-lg-1 isotope-item content">
                                <div class="portfolio-item">
                                    <a href="https://conjugacao.reverso.net/conjugacao-ingles.html" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/reverso.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- sci-hub -->
                            <div class="col-sm-2 col-lg-1 isotope-item content">
                                <div class="portfolio-item">
                                    <a href="https://www.sci-hub.tw/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/sci-hub.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- simple-line-icons -->
                            <div class="col-sm-2 col-lg-1 isotope-item icons tools">
                                <div class="portfolio-item">
                                    <a href="http://simplelineicons.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/simple-line-icons.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- sinonimos -->
                            <div class="col-sm-2 col-lg-1 isotope-item content">
                                <div class="portfolio-item">
                                    <a href="https://www.sinonimos.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/sinonimos.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- webwhatsapp -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://web.whatsapp.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/webwhatsapp.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- 123RF -->
                            <div class="col-sm-6 col-lg-1 isotope-item images">
                                <div class="portfolio-item">
                                    <a href="http://br.123rf.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/123rf.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- MakeBackground -->
                            <div class="col-sm-6 col-lg-1 isotope-item Video-SubTitle images">
                                <div class="portfolio-item">
                                    <a href="https://makebackground.io/#gallery" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/makebackground.io.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- pexels -->
                            <div class="col-sm-6 col-lg-1 isotope-item videos">
                                <div class="portfolio-item">
                                    <a href="https://www.pexels.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/pexels.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- AmIResponsiveDesign -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="http://ami.responsivedesign.is/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/ami_responsive_design.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- aspect-ratio-screen -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://andrew.hedges.name/experiments/aspect_ratio/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/aspect-ratio-screen.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- json-editor-online -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="http://jsoneditoronline.org/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/json-editor-online.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- isotope -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools dev-plugin">
                                <div class="portfolio-item">
                                    <a href="https://isotope.metafizzy.co/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/isotope.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- nreco-pdf-generator-docs -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools dev-plugin">
                                <div class="portfolio-item">
                                    <a href="https://www.nrecosite.com/pdf_generator_net.aspx" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/nreco-pdf-generator-docs.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- masonry -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools dev-plugin">
                                <div class="portfolio-item">
                                    <a href="https://masonry.desandro.com/index.html" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/masonry.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- moment-js -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools dev-plugin">
                                <div class="portfolio-item">
                                    <a href="https://momentjs.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/moment-js.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- owl -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools dev-plugin">
                                <div class="portfolio-item">
                                    <a href="https://owlcarousel2.github.io/OwlCarousel2/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/owl.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Boots strap -->
                            <div class="col-sm-6 col-lg-1 isotope-item dev-plugin">
                                <div class="portfolio-item">
                                    <a href="https://getbootstrap.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/Bootstrap.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Boots strap switch -->
                            <div class="col-sm-6 col-lg-1 isotope-item dev-plugin">
                                <div class="portfolio-item">
                                    <a href="http://www.jque.re/plugins/version3/bootstrap.switch/index.html" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/bootstrap-switch.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Charts js -->
                            <div class="col-sm-6 col-lg-1 isotope-item dev-plugin">
                                <div class="portfolio-item">
                                    <a href="https://www.chartjs.org/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/charts-js.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Date piker -->
                            <div class="col-sm-6 col-lg-1 isotope-item dev-plugin">
                                <div class="portfolio-item">
                                    <a href="https://bootstrap-datepicker.readthedocs.io/en/latest/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/datepicker.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Date range piker -->
                            <div class="col-sm-6 col-lg-1 isotope-item dev-plugin">
                                <div class="portfolio-item">
                                    <a href="http://www.daterangepicker.com/#config" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/date-range-picker.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Hand picked -->
                            <div class="col-sm-6 col-lg-1 isotope-item dev-plugin">
                                <div class="portfolio-item">
                                    <a href="http://www.jque.re/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/Handpicked.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Magnific popup -->
                            <div class="col-sm-6 col-lg-1 isotope-item dev-plugin">
                                <div class="portfolio-item">
                                    <a href="http://dimsemenov.com/plugins/magnific-popup/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/magnific-popup.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Nreco pdf generator  -->
                            <div class="col-sm-6 col-lg-1 isotope-item dev-plugin">
                                <div class="portfolio-item">
                                    <a href="https://www.nrecosite.com/pdf_generator_net.aspx" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/nreco-pdf-generator.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Name cheap  -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://www.namecheap.com/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/namecheap.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Nuvem shop -->
                            <div class="col-sm-6 col-lg-1 isotope-item compras">
                                <div class="portfolio-item">
                                    <a href="https://www.nuvemshop.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/nuvemshop.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Mercado livre -->
                            <div class="col-sm-6 col-lg-1 isotope-item compras">
                                <div class="portfolio-item">
                                    <a href="https://mercadolivre.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/mercado-livre.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Tenda atacadão -->
                            <div class="col-sm-6 col-lg-1 isotope-item compras">
                                <div class="portfolio-item">
                                    <a href="https://tendaatacado.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/tenda-atacadao.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Full care -->
                            <div class="col-sm-6 col-lg-1 isotope-item compras">
                                <div class="portfolio-item">
                                    <a href="https://fullcare.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/full-care.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!-- Montink -->
                            <div class="col-sm-6 col-lg-1 isotope-item compras">
                                <div class="portfolio-item">
                                    <a href="https://montink.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/montink.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                             <!-- Natuk -->
                            <div class="col-sm-6 col-lg-1 isotope-item compras">
                                <div class="portfolio-item">
                                    <a href="https://natuk.com.br/" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/natuk.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                             <!-- Outlook -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://outlook.com" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/outlook.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                             <!-- Gmail -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href="https://gmail.com" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/gmail.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                             <!-- Local web mail -->
                            <div class="col-sm-6 col-lg-1 isotope-item tools">
                                <div class="portfolio-item">
                                    <a href=" https://webmail-seguro.com.br/?_task=login" target="_blank" aria-label="">
                                        <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/img/msader_tools/locaweb.png" class="img-fluid" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


